body {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  background-color: grey;
  font-family: 'VT323', monospace;
}

/* main {
  grid-template-columns: fit-content(100%);
} */

header {
  background-color: black;
  color: grey;
  text-align: center;
  padding: 5px 0px 5px 50px;
  margin-bottom: 2px;
  font-size: 40px;
  letter-spacing: 40px;
}

h1{
  margin: 0;
}

nav div {
  background-color: black;
  display: block;
  width: calc(25% - 2px);
  height: 100%;
  float: left;
  text-align: center;
  font-size: 30px;
  color: grey;
  border: 1px grey solid;
  padding: 5px 0px;
  margin-bottom: 2px;
}

.paddle-sizing {
  cursor: pointer;
}

.paddle-sizing:hover {
  color: wheat;
}

canvas {
  position: relative;
}

aside {
  position: absolute;
  background-color: grey;
  font-size: 80px;
  top: 50%;
  left: calc(50% - 17px);
}

aside.count3 {
  color: black;
  animation: countDown 1s 0.0s forwards;
}

aside.count2 {
  color: black;
  animation: countDown 1s 1s forwards;
}

aside.count1 {
  color: black;
  animation: countDown 1s 2s forwards;
}

footer {
  background-color: black;
  text-align: center;
  font-size: 30px;
  color: grey;
  padding: 5px 0px;
  letter-spacing: 20px;
}

@keyframes countDown {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 860px) {
  nav div {
    width: calc(50% - 2px);
  }
}

@media (max-width: 600px) {
  nav div {
    width: calc(100% - 2px);
  }
}